<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3" xmlns:c="">
<head>
    <meta charset="UTF-8">
    <title>Log in with your account</title>
</head>
<body>

<h1>Ваша личная страница</h1>
<br/><br/>
<div>

  <h2>Добро пожаловать на Вашу личную страницу, <span th:text="${admin.getUsername()}">VALUE</span> </h2>
  <table border="1">
    <tr>
      <th>---ID---</th>
      <th>---Username---</th>
      <th>---Email---</th>
      <th>---Password---</th>
      <th>---Roles---</th>
    </tr>
    <tr th:each ="user : ${admin}">
      <td th:text="${user.getId()}"></td>
      <td th:text="${user.getUsername()}"></td>
      <td th:text="${user.getEmail()}"></td>
      <td th:text="${user.getPassword()}"></td>
      <td th:text="${user.roleToString()}"></td>
    </tr>
  </table>

  <p>Просмотреть всех пользователей</p>
  <form action="/admin/users" target="_blank">
    <button>Все пользователи</button></form>
  <p>Добавить нового пользователя</p>
  <form action="/admin/add" target="_blank">
    <button>Новый пользователь</button></form>
  <br/><br/>
  <p> Вернуться на <a href="/">главную страницу</a></p>
  <form th:method="POST" th:action="@{/logout}">
    <input type="submit" value="Logout!"/>
  </form>

</div>


</body>
</html>